
 .mix{
  position: relative;
  display: flex;
 }
  

  .righttt img{
    border-radius: 42px !important;
    padding: 35px;
    width: 600px;
  }

  
  .Container {
   
    position: relative;
    display: flex;
    
  }

 
  

  .righ h3{
   text-align: center;
   padding-top: 10px;
  }
  .righ h6{
    text-align: center;
    padding: 1px;
    color: navy;
   }

  .righ img{
 
    border-radius: 8px !important;
  /* Optional: Add styling for individual images here */
  
  
  }