.center{
    align-items: center;
    margin-left: 40%;
    margin-top: 70px;
   
  
}



.center img{
    width: 450px;
    
    margin-left: -12%;
    

}

.ch h3{
    margin-left: 35%;
    text-decoration: underline;
    color: skyblue
    
}

.ch-c{
    
   padding: 50px;
   display: block;
   justify-content: space-around;
}