.text-center{
    font-weight: 600;
    
}

.fgh{
    position: relative;
    display: flex;
    
   
}

.Container-f h5{
  margin-left: 40px;   
}
.Container-f{
  margin-left: 230px; 
  
 
}

.Container{
 
}

.Container-g h5{
  margin-left: 2rem;
    
}


.Container-h h5{
  margin-left: 2rem;
    
}

.Container-g{
    margin-left: 7rem;
      
  }

  .Container-h{
    margin-left: 10rem;
      
  }

